.page-footer {
  padding-top: 1px;
  background-color: $color-secondary;
  text-align: center;
  outline: 6px solid red;

  h2 {
    font-size: 24px;
    font-weight: 300;
    line-height: 1;
    color: $color-main;
  }

  h4 {
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
  }

  p {
    font-size: 24px;
    font-weight: 300;
    line-height: 1;
    color: $color-fourth;
  }
}
