.reviews {
  margin: 0 6px;
  background-color: $color-secondary;
  outline: 4px solid green;

  h4 {
    font-size: 18px;
    line-height: 30px;
    color: $color-third;
  }

  p {
    line-height: 30px;
  }
}
