.advantages {
  background-color: $color-gray;
}

.advantages__advertising {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: $color-secondary;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    outline: 2px solid blue;
  }
}

.advantages__slogan {
  margin-top: 40px;
  margin-bottom: 0;
  padding-left: 70px;
  padding-right: 70px;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2em;
  color: $color-main;

  @media (min-width: $tablet-width) {
    margin-top: 50px;
    padding: 0;
    font-size: 40px;
    outline: 1px solid red;
  }

  @media (min-width: $desktop-width) {
    margin-top: 67px;
    font-size: 50px;
  }
}

.advantages__slogan--second {
  margin-top: 30px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    width: 350px;
    margin-top: 0;
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    width: 640px;
    margin-bottom: 75px;
  }
}

.advantages__head {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  color: $color-third;
  outline: 1px solid black;

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 1.1em;
  }
}

.advantages__wrapper {
  box-sizing: border-box;
  padding-top: 78px;
  background: url("../img/bg-triangle-white.svg") center top no-repeat;
  background-size: 100%, 30px;
  background-color: $color-gray;

  @media (min-width: $tablet-width) {
    min-height: 485px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    background-color: $color-gray;
    background-size: 100% 50px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    min-height: 460px;
    margin: 0;
    background-size: 100% 90px;
    background-color: $color-gray;
  }
}

.advantages__list {
  box-sizing: border-box;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 315px;
  background: url("../img/iphone-screen-mobile@1x.png") center 430px no-repeat;
  background-size: 157px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
    background-size: 157px;
  }

  @media (min-width: $tablet-width) {
    width: 620px;
    min-height: 485px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 310px;
    padding-top: 75px;
    padding-bottom: 0;
    text-align: left;
    background: url("../img/iphone-screen-3-tablet@1x.png") left bottom no-repeat;
    background-size: 268px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
      background-size: 268px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 960px;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    outline: 2px solid blue;
    background: none;
  }
}

.advantages__item {
  margin-top: 0;
  margin-bottom: 28px;

  &:last-child {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    width: 235px;
    min-height: 560px;
    padding-top: 353px;
    text-align: center;
    outline: 4px solid red;

    &:first-child {
      background: url("../img/iphone-screen-1-desktop@1x.png") center top no-repeat;
      background-size: 292px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background: url("../img/iphone-screen-1-desktop@2x.png") center top no-repeat;
        background-size: 292px;
      }
    }

    &:nth-child(2) {
      background: url("../img/iphone-screen-2-desktop@1x.png") center top no-repeat;
      background-size: 292px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background: url("../img/iphone-screen-2-desktop@2x.png") center top no-repeat;
        background-size: 292px;
      }
    }

    &:last-child {
      background: url("../img/iphone-screen-3-desktop@1x.png") center top no-repeat;
      background-size: 292px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background: url("../img/iphone-screen-3-desktop@2x.png") center top no-repeat;
        background-size: 292px;
      }
    }
  }
}

.advantages__description {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
  }

  @media (min-width: $desktop-width) {

    font-size: 18px;
    line-height: 30px;
  }
}
