.button {
  display: block;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-weight: bold;
  line-height: 45px;
  color: transparentize($color-main, 0.9);
  border: 3px solid transparentize($color-main, 0.9);
  border-radius: 30px;
  background: transparent;

  &:hover {
    color: transparentize($color-main, 0.7);
    border: 3px solid transparentize($color-main, 0.7);
    background-color: transparent;
  }

  &:active {
    color: transparentize($color-secondary, 0.7);
    background-color: transparentize($color-main, 0.7);
    border-color: transparent;
  }

  @media (min-width: $tablet-width) {
    width: 260px;
  }

  @media (min-width: $desktop-width) {
    width: 183px;
    margin-right: 0;
  }

  &--pink {
    margin-bottom: 12px;
    color: $color-fourth;
    border: 3px solid $color-fourth;

    &:hover {
      color: $color-secondary;
      background-color: $color-fourth;
      border-color: transparent;
    }

    &:active {
      color: transparentize($color-secondary, 0.7);
      background-color: $color-fourth;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 22px;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
      margin-right: auto;
    }
  }
}
