.contacts {
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: $color-secondary;
  text-align: center;
}

.contacts__question {
  margin-top: 45px;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2em;
  color: $color-main;

  @media (min-width: $tablet-width) {
    font-size: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 60px;
    font-size: 50px;
  }
}

.contacts__question--second {
  margin-top: 0;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.contacts__head {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

.contacts__text {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
  color: $color-fourth;
}

.contacts__wrapper {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 620px;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-around;
    width: 960px;
    margin-bottom: 0;
  }
}

.contacts__block {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    width: 310px;

    &--address {
      width: 100%;
      margin-top: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 300px;

    &--email {
      order: 1;
    }

    &--address {
      margin-top: 0;
    }
  }
}
