.contacts {
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: $color-secondary;
  text-align: center;
}

.contacts__question {
  margin-top: 42px;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  color: $color-main;

  @media (min-width: $tablet-width) {
    margin-top: 43px;
    font-size: 40px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 62px;
    font-size: 50px;
    line-height: 60px;
  }
}

.contacts__question--second {
  margin-top: 0;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.contacts__head {
  margin: 0;
  padding: 0;
  margin-bottom: 7px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;

  @media (min-width: $desktop-width) {
    margin-bottom: 27px;
  }
}

.contacts__text {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  color: $color-fourth;
}

.contacts__wrapper {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 620px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-around;
    width: 960px;
    margin-bottom: 0;
  }
}

.contacts__block {
  margin-bottom: 25px;

  &--address {
    margin-bottom: 40px;
  }

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    width: 310px;
    padding-right: 11px;

    &--address {
      width: 100%;
      margin-top: 25px;
      margin-bottom: 32px;
      padding-left: 10px;
    }

    &--email {
      padding-right: 0;
      padding-left: 10px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    margin-bottom: 43px;

    &--phone {
      padding-right: 0;
    }

    &--email {
      order: 1;
      padding-left: 0;
    }

    &--address {
      margin-top: 0;
    }
  }
}
