.copyright {
  height: 35px;
  line-height: 18px;
}

.copyright__image {
  fill: $color-fourth;

  &:hover {
    fill: $color-main;
  }

  &:active {
    fill: transparentize($color-main, 0.7);
  }
}

.copyright__made-by {
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.copyright__logo {
  @media (min-width: $desktop-width) {
    margin-left: 15px;
  }
}
