.gallery {
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  outline: 3px solid red;

  h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
  }

  .gallery__promo {
    width: 245px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1px;
    padding-bottom: 1px;
    outline: 3px solid red;
  }

  @media (min-width: $tablet-width) {

    h6 {
      font-size: 18px;
    }

    .gallery__promo {
      width: 440px;
    }

    .gallery__post {
      width: 300px;
      outline: 1px solid black;
    }

    .gallery__post:nth-child(odd) {
      margin-right: 20px;
    }

    .gallery__wrapper {
      display: flex;
      flex-wrap: wrap;
      width: 620px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media (min-width: $desktop-width) {
    .gallery__promo {
      width: 570px;
    }

    .gallery__wrapper {
      width: 940px;
      margin-left: auto;
      margin-right: auto;
    }

    .gallery__post {
      width: 300px;
    }

    .gallery__post:nth-child(odd) {
      margin: 0px;
    }

    .gallery__post:nth-child(3n+2) {
      margin-left: 20px;
      margin-right: 20px;
      outline: 1px solid black;
    }
  }
}
