.gallery {
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  outline: 3px solid red;
}

.gallery__head {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.gallery__promo {
  width: 245px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 90px;
  outline: 3px solid red;

  @media (min-width: $tablet-width) {
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.gallery__post {
  @media (min-width: $tablet-width) {
    width: 300px;
    outline: 1px solid black;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    outline: 1px solid black;

  }

  &:nth-child(odd) {
    @media (min-width: $tablet-width) {
      margin-right: 20px;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
    }
  }

  &:nth-child(3n+2) {
    @media (min-width: $desktop-width) {
      margin-left: 20px;
      margin-right: 20px;
      outline: 1px solid black;
    }
  }
}

.gallery__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 620px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
}
