.intro {
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  text-align: center;
  background: url("../img/bg-back-mobile@1x.jpg") center -70px no-repeat;

  @media (min-width: $tablet-width) {
    width: 620px;
    padding-top: 75px;
    background: none;
  }

  &--photo {
    padding-bottom: 85px;

    @media (min-width: $tablet-width) {
      padding-bottom: 135px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 60px;
      padding-bottom: 103px;
    }
  }

  &--concours {
    padding-bottom: 60px;

    @media (min-width: $tablet-width) {
      padding-bottom: 75px;
    }

    @media (min-width: $desktop-width) {
      width: 940px;
      padding-top: 60px;
      padding-bottom: 103px;
    }
  }
}

.intro__header {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0 75px;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2em;
  color: $color-secondary;

  @media (min-width: $tablet-width) {
    padding: 0 10px;
    font-size: 50px;
  }
}
