.intro {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  text-align: center;
  outline: 2px solid red;

  @media (min-width: $tablet-width) {
    width: 620px;
    padding-top: 75px;
    background: none;
  }

  &--photo {
    padding-bottom: 85px;

    @media (min-width: $tablet-width) {
      padding-bottom: 140px;
    }
  }

  &--concours {
    padding-bottom: 50px;

    @media (min-width: $tablet-width) {
      padding-bottom: 75px;
    }
  }
}

.intro__header {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
  color: $color-secondary;

  @media (min-width: $tablet-width) {
    font-size: 50px;
  }
}
