.page-footer {
  box-sizing: border-box;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    min-width: 660px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 35px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  &--invisible {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.page-footer__logo {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    width: 170px;
    margin-top: 0;
    margin-bottom: auto;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    text-align: left;
  }
}

.page-footer__link {
  @media (min-width: $tablet-width) {
    margin-right: 5px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.page-footer__image {
  &--first {
    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--second {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  &:hover:not(:active) {
    fill: $color-fourth;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__social {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 180px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    width: 180px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 180px;
    margin-top: 5px;
    margin-left: 10px;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 140px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    justify-content: space-around;
    align-self: center;
    width: 170px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-end;
    width: 300px;
    margin: 0;
  }
}
