.research {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 660px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-top: 35px;
    padding-bottom: 55px;
    background-color: $color-gray;
  }
}

.research__watch {
  @media (min-width: $tablet-width) {
    position: relative;
    width: 310px;
    margin-left: auto;
    background:
      url("../img/circle.svg") 20px 57px no-repeat,
      url("../img/timer2.svg") 0 0 no-repeat;
    background-size: 202px, 240px;
  }

  @media (min-width: $desktop-width) {
    width: 370px;
    background:
      url("../img/circle.svg") 23px 70px no-repeat,
      url("../img/timer2.svg") 0 0 no-repeat;
    background-size: 253px, 300px;
  }

  &::before {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: "24";
      top: 80px;
      left: 65px;
      font-size: 96px;
      font-weight: bold;
      line-height: 150px;
      color: $color-fourth;
    }

    @media (min-width: $desktop-width) {
      top: 97px;
      left: 80px;
      font-size: 120px;
      line-height: 186px;
    }
  }
}

.research__wrapper {
  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    width: 310px;
    margin-right: auto;
    padding-top: 1px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    padding-top: 57px;
    margin-right: auto;
  }
}

.research__head {
  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    margin-top: 35px;
    margin-bottom: 10px;
    padding-right: 140px;
    font-size: 30px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    margin-bottom: 20px;

    br {
      display: none;
    }
  }
}

.research__paragraph {
  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
  }
}

.research__link {
  @media (min-width: $tablet-width) {
    color: $color-fourth;
    text-decoration: underline;
    cursor: pointer;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
