.reviews {
  position: relative;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: $color-secondary;
}

.reviews__author {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 30px;
  color: $color-third;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 30px;
  }
}

.reviews__text {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 32px;
  word-spacing: 2px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    order: -1;
    padding-top: 5px;
    font-size: 18px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    span {
      display: none;
    }
  }
}

.reviews__wrapper {
  width: 280px;
  padding-top: 1px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    width: 620px;
    margin-bottom: 20px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 820px;
    margin-top: 70px;
    margin-bottom: 0;
    padding-top: 110px;
  }

  &::before {
    @media (min-width: $desktop-width) {
      position: absolute;
      content: "";
      top: 0;
      left: 50%;
      width: 80px;
      height: 65px;
      background: url("../img/quotes2.svg") center 0 no-repeat;
      transform: translate(-50%);
    }
  }
}

.reviews__profession {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 40px;
    font-size: 14px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    font-size: 18px;
    line-height: 30px;
  }
}

.reviews__wrapper-inner {
  overflow: hidden;
}

.reviews__list {
  display: flex;
  width: 300%;

  @media (min-width: $desktop-width) {
    display: flex;
    width: 300%;
  }
}

.reviews__item {
  width: 280px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    width: 620px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 70px;
  }
}

/*
.reviews__radio {
  display: none;

  &--first:checked ~ .reviews__toggles label[for="btn-1"],
  &--second:checked ~ .reviews__toggles label[for="btn-2"],
  &--third:checked ~ .reviews__toggles label[for="btn-3"] {
    border: 3px solid $color-main;
    background-color: $color-secondary;

    @media (min-width: $desktop-width) {
      background: none;
      border: none;
    }
  }

  &--first:hover:not(:checked) ~ .reviews__toggles label[for="btn-1"],
  &--second:hover:not(:checked) ~ .reviews__toggles label[for="btn-2"],
  &--third:hover:not(:checked) ~ .reviews__toggles label[for="btn-3"] {
    background-color: transparentize($color-main, 0.4);

    @media (min-width: $desktop-width) {
      background: none;
    }
  }

  &--first:active:not(:checked) ~ .reviews__toggles label[for="btn-1"],
  &--second:active:not(:checked) ~ .reviews__toggles label[for="btn-2"],
  &--third:active:not(:checked) ~ .reviews__toggles label[for="btn-3"] {
    background-color: transparentize($color-main, 0.9);

    @media (min-width: $desktop-width) {
      background: none;
    }
  }


  &--first:checked ~ .reviews__wrapper-inner .reviews__list {
    transform: translate(0);
    transition: 0.5s;
  }

  &--second:checked ~ .reviews__wrapper-inner .reviews__list {
    transform: translate(-280px);
    transition: 0.5s;

    @media (min-width: $tablet-width) {
      transform: translate(-620px);
    }

    @media (min-width: $desktop-width) {
      transform: translate(-820px);
    }
  }

  &--third:checked ~ .reviews__wrapper-inner .reviews__list {
    transform: translate(-560px);
    transition: 0.5s;

    @media (min-width: $tablet-width) {
      transform: translate(-1240px);
    }

    @media (min-width: $desktop-width) {
      transform: none;
    }
  }
}
*/

.reviews__arrow {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    fill: transparentize($color-main, 0.7);

    &:hover {
      fill: transparentize($color-main, 0.4);
    }

    &:active {
      fill: transparentize($color-main, 0.9);
    }
  }
}

.reviews__toggles {
  font-size: 0;
  line-height: 0;
  padding-left: 14px;
}

.reviews__toggle {
  display: inline-block;
  vertical-align: middle;
  padding: 2px;
  border: none;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: transparentize($color-third, 0.7);
  margin-right: 15px;

  @media (min-width: $desktop-width) {
    position: absolute;
    width: auto;
    height: auto;
    background: none;

    &--left {
      top: 50%;
      left: -40px;
    }

    &--right {
      top: 50%;
      right: -55px;
    }
  }


  &--checked {
    padding: 3px;
    border: 3px solid $color-main;
    background-color: $color-secondary;

    @media (min-width: $desktop-width) {
      border: none;
    }
  }

  &--invisible {
    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &:hover:not(&--checked) {
    background-color: transparentize($color-main, 0.4);

    @media (min-width: $desktop-width) {
      background: none;
    }
  }

  &:active(&--checked) {
    background-color: transparentize($color-main, 0.9);

    @media (min-width: $desktop-width) {
      background: none;
    }
  }
}

.reviews__triangle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 25px;
  transform: rotate(180deg);

  @media (min-width: $tablet-width) {
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    height: 80px;
  }
}
