.slogan {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 45px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    width: 620px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 63px;
    padding-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 65px;
  }
}

.slogan__text {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}
