.social__link {
  display: flex;
  width: 45px;
  height: 45px;
  border: 3px solid transparentize($color-main, 0.9);
  border-radius: 50%;

  path {
    fill: $color-fourth;
  }

  &:hover {
    border-color: $color-main;
  }

  &:active {
    border-color: transparentize($color-main, 0.9);

    path {
      fill: transparentize($color-fourth, 0.7);
    }
  }
}

.social__icon {
  margin: auto;
}
